<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
				<key>dateExpires</key>
				<string>7/3/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>509EA2EBF185E78C868C1FBB6438F1FD13213A64</string>
						<key>dateExpires</key>
						<string>7/3/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D42VJ2V94U</string>
						<key>name</key>
						<string>ZIA BEHESHTI</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D42VJ2V94U.com.watchmyrisk.wmr</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D42VJ2V94U</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>D42VJ2V94U.com.watchmyrisk.wmr</string>
				</array>
			</dict>
			<key>name</key>
			<string>WMR.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>baf05368-2739-4810-91ce-c7945fa54b34</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.watchmyrisk.wmr</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D42VJ2V94U</string>
				<key>name</key>
				<string>ZIA BEHESHTI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
